.menu {
    // .menu__icon
    &__icon {
    }
    // .menu__body
    &__body {
        @media (max-width: $mobile) {
            position: fixed;
            right: -100%;
            top: toRem(100);
            @include adaptiveValue("top", 140, 85);
            overflow: auto;
            padding: toRem(48);
            // padding: toRem(50) toRem(15) toRem(15) toRem(30);
            transition: left 0.3s;
            background: #fff;
            z-index: 5;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: toRem(4) toRem(0) toRem(0) toRem(16);
            &::before {
                content: "";
                position: fixed;
                width: 100%;
                height: toRem(70);
                right: -100%;
                top: 0;
                transition: left 0.3s;
                z-index: 2;
            }
            .menu-open & {
                right: 0;
                &::before {
                    right: 0;
                }
            }
        }
    }
    // .menu__list
    &__list {
        @media (max-width: $mobile) {
        }
    }
    // .menu__item
    &__item {
    }
    // .menu__link
    &__link {
        @media (max-width: $mobile) {
        }
    }
}

//Burger Icon
.icon-menu {
    display: none;
    @media (max-width: $mobile) {
        display: block;
        position: relative;
        width: toRem(30);
        @include adaptiveValue("width", 32, 24);
        @include adaptiveValue("height", 22, 16);
        height: toRem(18);
        z-index: 5;
        @media (any-hover: none) {
            cursor: default;
        }
        span,
        &::before,
        &::after {
            content: "";
            transition: all 0.3s ease 0s;
            right: 0;
            position: absolute;
            width: 100%;
            height: toRem(3);
            background-color: $colorBlue;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
        span {
            top: calc(50% - toRem(1));
        }
        .menu-open & {
            span {
                width: 0;
            }
            &::before,
            &::after {
            }
            &::before {
                top: calc(50% - toRem(1));
                transform: rotate(-45deg);
            }
            &::after {
                bottom: calc(50% - toRem(1));
                transform: rotate(45deg);
            }
        }
    }
}

body::after {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: none;
}

.menu-open body::after {
    display: block;
}
